:root{
    --speed: .3s;
    --radius: .6em;
}
*{
    box-sizing: border-box;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background-color: #EEF5FF;
}
.desktop{
    background-color: #fff;
    width: 70%;
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: 215px 70%;
    grid-template-rows: 440px;
    padding: 1em;
    align-content: flex-start;
    border-radius: var(--radius);
    border: none;
    outline: none;
}
.desktop .sidebar{
    padding: 1.3em 0 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-image: url("../images/bg-sidebar-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: var(--radius);
}
.desktop .sidebar .item{
    display: flex;
    height: min-content;
    align-items: center;
    gap: 1em;
}
.desktop .sidebar .item .circle{
    border: 1px solid #BEE1FE;
    border-radius: 50%;
    margin: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop .sidebar .item .circle .number{
    color: #BEE1FE;
    font-size: .7em;
    font-weight: 600;
    margin-top: 10px;
}
.desktop .sidebar .item .circle.selected{
    background-color: #BEE1FE;
}
.desktop .sidebar .item .circle.selected .number{
    color: #000;
}
.desktop .sidebar .item .section{
    color: #fff;
}
.desktop .sidebar .item .section .step{}
.desktop .main{
}
.desktop .sidebar .item .section .step{
    margin: 0;
    font-size: .6em;
    color: #999;
}
.desktop .sidebar .item .section h4{
    margin: 0;
    margin-top: 4px;
    font-size: .7em;
}
.desktop .main .form{
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-bottom: 1em;
}
.desktop .main .form .title{
    margin-bottom: 1em;
}
.desktop .main .form .title h2{
    color: #062A56;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 1.7em;
}
.desktop .main .form .title p{
    font-size: .8em;
    color: #888;
    font-weight: 400;
}
.desktop .main .form .field{
    flex-grow: 1;
}
.desktop .main .form .field .fields input{
    width: 100%;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #DDD;
    outline: none;
    margin: 8px 0 16px;
    color: #062A56;
    font-size: .9em;
    font-weight: 500;
    padding-left: 1em;
    transition: border var(--speed);
}
.desktop .main .form .field .fields input{
    width: 100%;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    margin: 8px 0 16px;
    color: #062A56;
    font-size: .9em;
    font-weight: 500;
    padding-left: 1em;
    transition: border var(--speed);
}
.desktop .main .form .field .fields input:focus{
    border: 1px solid #062A56;
}
.desktop .main .form .field .fields .label{
    display: flex;
    justify-content: space-between;
}
.desktop .main .form .field .fields .label label{
    font-size: .7em;
    font-weight: 600;
    color: #062A56;
}
.desktop .main .form .field .fields .label .required{
    font-size: .7em;
    font-weight: 600;
    color: #E1384E;
    margin: 0;
    display: none;
}


.desktop .main .form .buttons{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.desktop .main .form .buttons input{
    padding: .8em 1.2em;
    border-radius: .7em;
    border: none;
    background-color: #03295A;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: background-color var(--speed);
    font-weight: 500;
}
.desktop .main .form .buttons input:hover{
    background-color: #174A8B;
}
.desktop .main .form .buttons input.back{
    background-color: transparent;
    color: #999;
    transition: color var(--speed);
}
.desktop .main .form .buttons input.back:hover{
    color: #062A56;
}
.desktop .main .form .buttons input.next{
    display: flex;
    margin-left: auto;
}

.desktop .main .form .field .plan{
}
.desktop .main .form .field .plan .box__container{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.desktop .main .form .field .plan .box__item{
    border-radius: var(--radius);
    padding: 1em;
    width: 100%;
    border: 1px solid #eee;
}
.desktop .main .form .field .plan .box__item.selected{
    background-color: #BEE1FE;
}
.desktop .main .form .field .plan .box__item:hover{
    border-radius: var(--radius);
    padding: 1em;
    width: 100%;
    background-color: #eee;
    transition: background-color var(--speed);
    border: 1px solid #174A8B;
    transition: border var(--speed);
}
.desktop .main .form .field .plan .box__item img{
}
.desktop .main .form .field .plan .box__item .plan-select{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.desktop .main .form .field .plan .box__item .plan-select h4,
.desktop .main .form .field .plan .box__item .plan-select p,
.desktop .main .form .field .plan .box__item .plan-select h5{
    margin: 0;
}
.desktop .main .form .field .plan .box__item .plan-select h4{
    font-size: .9em;
}
.desktop .main .form .field .plan .box__item .plan-select p{
    font-size: .7em;
}
.desktop .main .form .field .plan .box__item .plan-select h5{
    font-size: .7em;
    display: no;
}



.desktop .main .form .field .checkboxs{
    display: flex;
    flex-direction: column;
    gap: .9em;
}
.desktop .main .form .field .checkboxs .checkbox{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .8em;
    padding-left: 1.2em;
    gap: 1.2em;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all .2s;
}
.desktop .main .form .field .checkboxs .checkbox:hover{
    border: 1px solid #483EFF;
}
.desktop .main .form .field .checkboxs .checkbox input{
}
.desktop .main .form .field .checkboxs .checkbox input:checked .checkbox{
    border: 1px solid #483EFF;
    background-color: #F8F9FE;
}
.desktop .main .form .field .checkboxs .checkbox .description{}
.desktop .main .form .field .checkboxs .checkbox input,
.desktop .main .form .field .checkboxs .checkbox .description h4,
.desktop .main .form .field .checkboxs .checkbox .description p,
.desktop .main .form .field .checkboxs .checkbox .price{
    margin: 0;
}
.desktop .main .form .field .checkboxs .checkbox .price{
    margin-left: auto;
}
.desktop .main .form .field .checkboxs .checkbox .description h4{
    color: #174A8B;
    font-size: .8em;
}
.desktop .main .form .field .checkboxs .checkbox .description p{
    font-size: .7em;
    color: #999;
}
.desktop .main .form .field .checkboxs .checkbox .price{
    font-size: .8em;
    color: #483EFF;
    font-weight: 400;
}
